<div class="card">
    <div class="card-body">

    <h1>Sobre este proyecto</h1>
    La finalidad de este proyecto es practicar y mejorar mis conocimientos de JavaScript, Mongo y NodeJS realizando un proyecto funcional de aplicacion de notas que usa sesiones, login/logout, crud y notas filtradas por usuarios.
    <p></p>
    <p> J Software</p>
   
    </div>
</div>