<div class="form-group">
    <div class="jumbotron mt-4">
        <h1 class="display-4">App de notas</h1>
        <p class="lead">Utiliza NodeJS, JavaScript y MongoDB</p>
        <hr class='my-4'>
        <p>
            La finalidad de este proyecto es practicar y mejorar mis conocimientos de JavaScript, Mongo y NodeJS.
        </p>
        <p>
            Para esto realizo un proyecto funcional de aplicacion de notas que usa sesiones, login/logout, crud y notas
            filtradas por usuarios.
        </p>
        <a href="/users/signin" class="btn btn-primary btn-lg btn-block form-control">Comenzar</a>
    </div>
</div>